<% include ./partials/header.ejs %>
    <div class="right h-full flex-1 relative px-6">
        <div class="tags  relative flex px-6 py-3 gap-3 items-center overflow-x-auto">
            <i class="ri-arrow-left-s-line bg-zinc-100 cursor-pointer rounded-full h-[5%] flex items-center justify-center aspect-square fixed left-60"></i>
            <i class="ri-arrow-right-s-line bg-zinc-100 cursor-pointer rounded-full h-[5%] flex items-center justify-center aspect-square fixed right-3"></i>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">All</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Mixes</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Gaming</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Lo-fi</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Mantras</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Live</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Pritam Chakraborty</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Bollywood Music</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Satsang</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Dramedy</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">News</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Rituals</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Lesson</h2>
            <h2 class="bg-zinc-200 px-3 py-1 cursor-pointer hover:bg-zinc-800 transition-all duration-300 hover:text-white rounded-md font-medium shrink-0">Jai Shree Ram</h2>
        </div>
        <div class="videos flex flex-wrap gap-4 overflow-y-auto h-[85vh] py-2">
            <div class="w-[26vw] mb-1 playlist relative">
                <div class="h-56 w-[96%] rounded-xl -top-2  absolute left-1/2 -translate-x-1/2 bg-zinc-300 "></div>
                <div class="h-56 w-[98%] rounded-xl -top-1  absolute left-1/2 -translate-x-1/2 bg-zinc-400 "></div>
                <video class="rounded-xl relative h-56 bg-zinc-200 mb-2" src="">
                </video>

                <h2 class="leading-tight">Attitude | Stand-up Comedy by Ravi Gupta Lorem ipsum dolor sit amet
                    consectetur adipisicing elit.</h2>
                <h4 class="text-zinc-500 text-sm">channel name</h4>
                <div class="flex gap-1 items-center text-zinc-500">
                    <h4 class="text-sm">15 views</h4>
                    <i class="ri-circle-fill text-[4px]"></i>
                    <h4 class="text-sm">23 hours ago</h4>
                </div>
            </div>
            <% videos.forEach(function(video){%>
                <a href="/openVideo/<%=video.title%>">
            <div class="w-[26vw] mb-1 video">
                <div class="rounded-xl h-56 bg-zinc-200 mb-2">
                </div>
             <a href="/channel/<%=video.user.username%>">
              <h2 class="leading-tight"><%=video.description%></h2>
              <h4 class="text-zinc-500 text-sm"><%=video.user.username%></h4>
              <div class="flex gap-1 items-center text-zinc-500">
                  <h4 class="text-sm">15 views</h4>
                  <i class="ri-circle-fill text-[4px]"></i>
                  <h4 class="text-sm">23 hours ago</h4>
              </div>
            </a>
            </div>
        </a>
            <%})%>


        </div>

    </div>



    <% include ./partials/footer.ejs %>
 